server:
  port: 8084

spring:
  application:
    name: payment-service

  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI:mongodb://localhost:27017/mockanytime}
      database: mockanytime
      auto-index-creation: true

razorpay:
  mode: ${RAZORPAY_MODE:live}
  key:
    id: ${RAZORPAY_KEY_ID:}
    secret: ${RAZORPAY_KEY_SECRET:}

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}
