server:
  port: ${PORT:8081}

spring:
  application:
    name: auth-service
  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI:mongodb://localhost:27017/mockanytime}
      database: mockanytime
      auto-index-creation: true
  mail:
    host: ${SPRING_MAIL_HOST:smtp.gmail.com}
    port: ${SPRING_MAIL_PORT:587}
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
      debug: true

otp:
  delivery:
    mode: ${OTP_DELIVERY_MODE:sms}

msg91:
  auth:
    key: ${MSG91_AUTH_KEY}
  template:
    id: ${MSG91_TEMPLATE_ID}

eureka:
  client:
    enabled: false
    register-with-eureka: false
    fetch-registry: false

resend:
  api:
    key: ${RESEND_API_KEY:}

jwt:
  secret: 5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437
  expiration: 86400000

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

stripe:
  key: ${STRIPE_SECRET_KEY:sk_test_placeholder}
